# 시작하기

In [1]:
3000*2

6000

In [6]:
print("hello python")
print(32)
print('hi')
print("계산 :", 3000*3, '입니다')

hello python
32
hi
계산 : 9000 입니다

In [14]:
sale = 10*2000

print('오늘의', '매출은', sale, '입니다')

오늘의 매출은 20000 입니다

In [16]:
# 성장율 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
성장율 = (2000-1000)/1000*100
print('이번 달', '성장율은', 성장율, '%입니다.')

이번 달 성장율은 100.0 %입니다.

In [17]:
print('이번달의 성장율은', (1500-1000)/1000*100, "%입니다")

이번달의 성장율은 50.0 %입니다

In [21]:
이달매출 = 1750
지난달매출 = 1000
성장율 = (이달매출-지난달매출)/지난달매출*100
print('이번달의 성장율은', 성장율, '%입니다.')

이번달의 성장율은 75.0 %입니다.

In [ ]:
이달매출 = input(
지난달매출 = 
성장율 = (이달매출-지난달매출)/지난달매출*100
print('이번달의 성장율은', 성장율, '%입니다.')

In [27]:
input('이번달 매출액을 입력하세요')

이번달 매출액을 입력하세요 1000

'1000'

In [32]:
이달매출 = input('이번달 매출액을 입력하세요')
지난달매출 = input('지난달 매출액을 입력하세요')
print(이달매출, 지난달매출)

이번달 매출액을 입력하세요 1000
지난달 매출액을 입력하세요 2000

1000 2000

In [ ]:
#당신의 이름을 알려주세요


#이름님! 반갑습니다!

In [37]:
이름 = input('당신의 이름을 알려주세요')
print(이름, '님!', '반갑습니다!')

당신의 이름을 알려주세요 김주혜

김주혜 님! 반갑습니다!

In [40]:
이름 = input('당신의 이름을 알려주세요')
print(이름+"님! 반갑습니다!")

당신의 이름을 알려주세요 김주혜

김주혜님! 반갑습니다!

# print()의 활용

In [5]:
가격 = 10000
수량 = 10
매출 = 가격 * 수량
print(매출)

100000

In [5]:
print("이번달 매출은", 매출, "입니다.", sep=" ")

이번달 매출은 10000 입니다.

In [7]:
print("strawberry", "watermelon", "kiwi", sep=", ")

strawberry, watermelon, kiwi

In [14]:
과일목록1 = 'strawberry'
과일목록2 = 'watermelon'
과일목록3 = 'kiwi'
print(과일목록1, 과일목록2, 과일목록3, sep='>')#sep=',\t'

strawberry>watermelon>kiwi

In [16]:
12345, '12345'
'abcd'

'abcd'

In [17]:
type(12345), type('12345')

(int, str)

In [18]:
data = 12345
data2 = '12345'
type(data), type(data2)

(int, str)

In [19]:
12345+10, '12345'+10

TypeError: can only concatenate str (not "int") to str

In [20]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [4]:
name = 'juhye'
age = 25
#stringformat
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 juhye이고, 나이는 25입니다.

In [26]:
print("strawberry", "watermelon", "kiwi", sep=", ")

strawberry, watermelon, kiwi

In [31]:
#fstring
print(f"나의 이름은 {name}이고, 나이는{age}입니다.")

나의 이름은 juhye이고, 나이는25입니다.

In [35]:
print(f"입력한 이름: {name}")
print(f"내년 나이: {age + 1}")

입력한 이름: juhye
내년 나이: 26

In [3]:
#기본 입력
name = input("이름을 입력하세요: ")
print("입력한 이름:", name)

#숫자 입력 (문자열을 숫자로 변환)
age = int(input("나이를 입력하세요: "))
print("내년 나이:", age +1)

입력한 이름: 김주혜
내년 나이: 28

In [ ]:
age = input('나이를 입력하세요: ')

In [37]:
type(int('10'))

int

In [38]:
#왜 age가 문자열데이터지?

In [39]:
type(int(age +1))

int

In [40]:
int(age +1)

21

In [41]:
age = '열살'
type(age)

str

In [42]:
age = 20.8
type(age)

float

In [43]:
age = '열살'
int(age)

ValueError: invalid literal for int() with base 10: '열살'

In [46]:
student_name = 'juhye'
name_1 = 'juhye'  #d위에거가 직관적임, 길이는 길어서 도움받으면 됨

In [55]:
x = 10
a = 20
PI = 3.141592 #constant : 상수 - 변하지 않는 값들은 대문자로
MAX_VALUE = 1000
MIN_VALUE = 0

In [58]:
#input() #shift+tab 키 매개변수 확인
print(abs(-3.14)) #tab

3.14

In [ ]:
print

In [59]:
"".format()

''

In [60]:
10.format()

SyntaxError: invalid decimal literal (247832116.py, line 1)

In [69]:
a = 30,20,10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [73]:
x, y, y1 = a #언패킹
x,y,z
x,y,a,z
x, y1

(30, 10)

In [74]:
x=30, y=20, z=10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4022386172.py, line 1)

In [75]:
x=30;
y=20;
z=10

In [64]:
b = 30,
type(b)

tuple

In [76]:
a = 10
b= a
a,b

(10, 10)

In [77]:
id(a), id(b)

(140734685145816, 140734685145816)

In [87]:
a=20
id(a), id(b) #(140734685145816, 140734685145816)

(140734685146136, 140734685145816)

In [92]:
user_name = 'juhye' #snake->파이썬에서 주로 쓰임
userName = 'juhye' #camel
username = 'juhye'
_name = 'juhye' #private -> 외부에서 안보임
__name__ = 'juhye' #던더 = 더블언더스코어 -> 예시 init / str..
print(str(20)) #__str__ 얘를 불러서 저렇게 숫자를 문자로 변할 수 있음 - 그냥 내부적으로 이렇게 제공해줌 - 숨겨진 시스템 기능을 만들 때 사용함
_password = 1234

이런 syntax, 문법이 있구나~

20

In [94]:
#a+b와 a + b의 차이는 그냥 보기좋으라고하는 것임

In [95]:
a = 'hi'
b = 'Hi'
id(a), id(b)

(140734685188576, 1775936071904)

In [97]:
a = 'Hi'
id(a), id(b)  #바뀐 문자열 이렇게 새로 하는게 immutable

(1775936071904, 1775936071904)

#변수의 영역 namespace

지역변수, 전역변수

In [100]:
def local_exam(): #사용자정의함수
    local_var = 100   #지역변수 = local variable
    print(local_var)

local_exam()
local_var = 200   #전역변수
local_exam()
print(local_var)

100
100
200

In [102]:
def local_exam(): 
    local_var = 100   
    print(f"함수내부: {local_var}")   #얘는 정의만 내린것임

local_exam()    # 얘가 호출한것 - 호출하는 순간 진행이됨 1,2,3은 기억만함
local_var = 200   #local_var을 다르게 해도 상관이 없음
local_exam()
print(f"함수외부: {local_var}") #5,7.8이 결과로 나온것

함수내부: 100
함수내부: 100
함수외부: 200

In [113]:
counter = 0 #전역변수
def inc_counter():
    global counter
    counter = counter + 1  #앞의 counter는 지역변수  
    print(counter)

#temp = a + 1   프로그래밍에서는 한줄로 표현 가능함
#a = temp 이렇게 하지 않아도
#a = a + 1 이렇게 프로그래밍에서 할 수 있음

a += 1 #9번이랑 11번이랑 같은 말임 / 코딩에서는 이렇게 하는거야~ 하다가
#사고가 다르니까 자체적으로 줄이는 구나 생각하면 될 듯

inc_counter()
inc_counter()
inc_counter()

TypeError: can only concatenate str (not "int") to str