-기본 자료형 : 정수형, 실수형 > 숫자형, 문자형, 부울 형 boolean
-복합 자료형 : list, tuple, dictionary, set

## int 정수형

In [1]:
20, type(20)

(20, int)

In [2]:
a = 20 #10진수
a

20

In [4]:
a = 0b0101 #  2**3*0+2**2*1+2**1*0+2**0*1
a

5

In [5]:
#0o -> 8진수
#0b -> 2진수
#0x -> 16진수

#정수는 진수에 따라 다르게 가능

In [7]:
a = 0o10    #0b1000 0x16d
a

8

In [8]:
0b1000

8

In [9]:
0x16d

365

## float

In [10]:
b=3.14
type(b), b

(float, 3.14)

## 지수의 표기
10e2

In [11]:
a = 10e2
a

1000.0

In [12]:
a = 10e-2 #10**-2
a

0.1

In [13]:
3.1415e9

3141500000.0

In [14]:
# e : x10의 n제곱을 뜻함

## boolean 부울형

True == 1 == 참, False == 0 == 거짓 예약어

In [15]:
a = 10
a = 3.14
a = 3.14e5
a = True
b = False
a,b

(True, False)

In [16]:
type(a), type(b)

(bool, bool)

논리연산, 비교연산

In [17]:
a == 0 #== 같다 비교연산자

False

In [18]:
a == 1

True

In [19]:
a == True

True

In [22]:
a == true  
#따옴표 있으면 string 대문자 True와 소문자true가 다름 - 얘가 보기에 true는 예약어도 아니고 문자열도 아니라서- 따옴표가 없으니까

NameError: name 'true' is not defined

논리연산자

In [24]:
b = 1
a and b, a, b  #a는 부울타입 b는 int타입 -> 부울보다 int타입이 더 큼

(1, True, 1)

'''

and : a,b 모두 참(1)일 때 1
or : a,b 둘중 1개만참(1)일 때 1
not : 반대 참(1)이면 거짓(0), 
'''

In [25]:
a = True
b =  1
a+b #연산자의 우선순위 True가 1로 바뀌어서 2로 계산됨 -> 원래 처리는 0,1인데 True라고 쓰면 1로 바꿔줄게~ 인것

2

In [26]:
a and b  #연산자때문에 부울로 계산

1

In [27]:
if (a and b) : #조건식의 결과가 True(참)
    print('hello')

hello

In [29]:
a = None
a and b  #None : 값이 들어있지 않아서 계산할 수가 없어

In [30]:
bool('50') 
#얘의 세상은 둘이라서 0이 아니면 다 true

True

사칙연산

In [31]:
a=2
b=3

In [33]:
print(a+b , a-b , a*b, a/b, a//b ,a%b)

5 -1 6 0.6666666666666666 0 2

In [ ]:
#//는 몫 구하기임! 2//3 ->  2를 3으로 나눌 수 없잖아

In [34]:
#비교연산 == != > < >= <=
print(a == b, a!=b, a>b, a<b)

False True False True

사칙연산은 결국 숫자로 게산할 수 있어야 함

In [36]:
#대입연산 = += -=
a = 10
a += 10 #+=뒤의 숫자를 더해주는 것
a

20

In [38]:
a = 10
a -=2  #-=뒤의 숫자를 빼주는 것
a

8

# 문자열 str

In [41]:
first_name = 'juhye'
last_name = 'kim'
first_name + last_name

'juhyekim'

In [42]:
last_name == 'Kim' #객체에 붙어있는 함수들이 많음 - 메소드

False

In [43]:
last_name == 'Kim'.lower() #소문자, 대문자 Upper()

True

In [45]:
last_name.upper()     #.다음에 탭해야함!

'KIM'

In [46]:
last_name.capitalize()

'Kim'

In [47]:
last_name.title()

'Kim'

In [42]:
lyric = '''Pinkfong
(상어 가족)
아기 상어 뚜루루 뚜루
귀여운 뚜루루 뚜루
바닷속 뚜루루 뚜루
아기 상어!
엄마 상어 뚜루루 뚜루
어여쁜 뚜루루 뚜루
바닷속 뚜루루 뚜루
엄마 상어!
아빠 상어 뚜루루 뚜루
힘이 센 뚜루루 뚜루
바닷속 뚜루루 뚜루
아빠 상어!
할머니 상어 (뚜루루 뚜루)
자상한 (뚜루루 뚜루)
바닷속 뚜루루 뚜루
할머니 상어!
할아버지 상어 (뚜루루 뚜루)
멋있는 (뚜루루 뚜루)
바닷속 뚜루루 뚜루
할아버지 상어!
우리는 뚜루루 뚜루
바다의 뚜루루 뚜루
사냥꾼 뚜루루 뚜루
상어 가족!
상어다 뚜루루 뚜루
도망쳐 뚜루루 뚜루
도망쳐 뚜루루 뚜루
숨자! 으악!
살았다 뚜루루 뚜루
살았다 뚜루루 뚜루
오늘도 뚜루루 뚜루
살았다 휴!
신난다 (뚜루루 뚜루)
신난다 (뚜루루 뚜루)
춤을 춰 뚜루루 뚜루
노래 끝! 오예!
'''

lyric.find('뚜루루 뚜루')
lyric.count('뚜루루 뚜루')

#lyrics로~

27

In [52]:
#count는 몇 번 나오는지를 세는 함수 / find는 어디에 처음 나오나를 찾는 함수
#find는 위치를 알려줌

In [53]:
lyric[0:10] #시작인덱스:끝인덱스

'Pinkfong\n('

In [54]:
lyric.count("뚜루")

54

In [59]:
#주민등록번호의 생년월일 부분만 출력해보세요

주민등록번호 = "000307-1111111"
주민등록번호[0:6]

'000307'

In [61]:
jumin = '001229-3333333'
jumin [0:6]

'001229'

In [62]:
jumin.split('-')[0]

'001229'

#2000년생이면 월 꺼내기

In [71]:
jumin = '001229-3333333'
if jumin[0:2] == '00' :
    print (jumin[2:4], "월 당신의 생일을 축하드립니다!", sep="")
else :
    print (jumin[4:6])

12월 당신의 생일을 축하드립니다!

In [72]:
year = jumin [0:2] #3번째 앞까지 끊는다 앞에서 끊는다 의미라서
month = jumin [2:4]
day = jumin [4:6]

In [73]:
year, month, day

('00', '12', '29')

In [75]:
if year == '03' :
    print(month)
else :
    print(day)

29

In [76]:
#뒤는 -1부터 시작임~~

In [77]:
jumin = '12345-67890ab'

In [78]:
jumin[1]

'2'

In [79]:
jumin[-1]

'b'

In [80]:
jumin[-2:]

'ab'

In [ ]:
#-2에서 끝까지를 이렇게 표현함

In [81]:
jumin.split("-")[1][0]

'6'

문자열은 불변이라 가운데만 쏙 해낼 수가 없음 자르고 붙이고 이렇게 되는....

count find index... 눈으로 세지는 않는......

In [85]:
jumin_new = jumin.replace('6','2')
jumin_new

'12345-27890ab'

In [5]:
text = "Python"
print(text[::2])  #step이라고함
print(text[1::2])

Pto
yhn

In [7]:
dir(text)  #dir, help 다 함수임

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
'a'.encode('utf-8')
'a'.encode('utf=16')

b'\xff\xfea\x00'

In [13]:
dec_value = 'a'.encode('utf-16')
dec_value.decode('utf-16')

'a'

In [15]:
#위에거 이해안감!!!!! dec_value를 왜 decode하는거야?... 이미 인코드 돼있네... 아 오키
#근데 utf-8이랑 utf-16이 뭔지 모르겠어

In [28]:
# format()
#test_str = '99.99 dollars are worth us$ 100 입니다.'

test_str = '{2:.4f} {1:s} are worth us$ {0:d} 입니다.'   #0,1,2 자리를 얘기한 것 d는 정수 #입력 템플릿
test_str.format(99.09, 'dollars', 100.0)   #if문 쓰지 않아도 알아서 해주긴 함


#그러면 괄호 자리에 상관없이 괄호에 자리수만 있으면 그걸 따라가는건가?

ValueError: Unknown format code 'd' for object of type 'float'

In [30]:
num1 = 99
num2 = 100
str1 = 'dollars'
test_str = f'{num1:.4f} {str1:s} are worth us$ {num2:d} 입니다.'
test_str

'99.0000 dollars are worth us$ 100 입니다.'

In [31]:
len(test_str)   #string에는 len없음 - 일반함수라서 바깥에서 써줘야함

38

In [39]:
email = 'aaa@gmail.com'
email_1 = 'aaa@gmail.com '
email_2 = ' aaa@gmail.com '

len(email), len(email_1), len(email_2)

#len은 공백까지 다 셈!!!

(13, 14, 15)

In [38]:
len(email_1.strip()), len(email_2.strip())

(13, 13)

In [40]:
#strip은 공백 지워주는 문자열(string)의 메서드(method)

In [43]:
lyric.rfind('뚜루루') #index

394

In [44]:
dir(email_1)


#lstrip 왼쪽만 잘라 rstrip 오른쪽만 잘라

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 문자열

1. 인덱싱, 슬라이싱, 멤버십
2. 문자열은 immutable "불변", 대소문자 구분한다
3. 문자열은 코드를 지정 인코딩, 디코딩, 유니코드(이모지 사용 가능), 한글도 가능
4. 문자열 +, *
5. 공백처리, 형식처리(대소문자 섞여있으면 통일 - 스플릿해서 중간에 거 꺼내기) 등을 해야 한다

In [49]:
import re

text = "파이썬 문자열    처리"
#text.split(" ")

re.sub(r"\s+", " ", text)  #\s space를 의미함 1개이상의 스페이스를 " "로 바꿔 / r-> raw string이야라는 표시

'파이썬 문자열 처리'

In [50]:
re.sub("\\s+", " ", text)

'파이썬 문자열 처리'

In [53]:
tel_no = '010-1234-1225'
re.sub(r'\D', "", tel_no)

'01012341225'

# 리스트

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [56]:
score = [20, 30, 50, 90, 100]
score[0] #첫번째 학생 점수
score[4], score[-1]

(100, 100)

In [57]:
fruits = ['사과', '포도', '바나나']
mixed = ['사과', 20, '바나나', 30, True]
matrix = [[1,2], [3,4]]

In [62]:
matrix[0], matrix[0][0], #matrix[0,1] <-이건 판다스에서 가능

([1, 2], 1)

In [63]:
score2 = [10, [1,2,3,4], 20]
score2[1][3]

4

In [64]:
print(score2)

[10, [1, 2, 3, 4], 20]

리스트는 순서가 있다 - 인덱싱과 슬라이싱이 된다

In [65]:
fruits = ['사과', '바나나', '포도']
fruits[0], fruits[1:3]

('사과', ['바나나', '포도'])

In [66]:
str(fruits)

"['사과', '바나나', '포도']"

In [73]:
s_list = 'Hello'
s_list[0] = 'h'    #문자열은 이게 안되잖아 - 문자열은 변경 불가

TypeError: 'str' object does not support item assignment

In [74]:
n_list = list(s_list)
type(n_list)
n_list

['H', 'e', 'l', 'l', 'o']

In [71]:
int('50'), str(50)

(50, '50')

In [77]:
n_list[0] = 'h'   # 이건 “값을 지정(대입)하는 것”이 맞아. #즉, “리스트의 0번 칸에 있는 값을 'H'에서 'h'로 바꿔라”
n_list

['h', 'e', 'l', 'l', 'o']

In [84]:
str(n_list) #함수     
#n_list 했을 때랑 str했을 때랑 보이는 건 같지만 타입이 다름!
#n_list → 리스트  / str(n_list) → 문자열 : 리스트를 사람이 읽을 수 있게 “문자열로 표현”한 것

"['h', 'e', 'l', 'l', 'o']"

In [81]:
''.join(n_list)    #객체를 이용한 동작 = 메소드 #구조는 빼고 글자만 남기고 싶을때...?

'hello'

In [ ]:
#method, function 함수

In [85]:
list('hello')  #문자열로 리스트 생성하기

['h', 'e', 'l', 'l', 'o']

In [86]:
ss = [1, 2, 3, 4]   #리스트 표현으로 생성하기

[1, 2, 3, 4]

In [88]:
#list(1,2,3,4)

In [94]:
a= range(5)  #범위 만드는 애 - 연속된 숫자 시퀀스 만들어주는 함수- for문할때 많이 쓰임
list(a)
type(a) #range는 자료형(객체타입) -> 클래스이고 range()는 그 클래스로 만든 객체

range

In [99]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [100]:
list(range(2,20,1))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##복사, 얕은 복사 shallow copy

In [116]:
score = [10, 20, 30, 40 , 50]
new_score = score  # score =/= score[:]  여기서 값은 같지만 id찍으면 다른애!
new_score

[10, 20, 30, 40, 50]

In [112]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

In [113]:
score

[100, 20, 30, 40, 50]

##깊은복사 deep copy

In [114]:
import copy                                #카피라는 라이브러리를 불러와
new_score_1 = copy.copy(score)
new_score_1[1]=99
new_score_1, score    #원본은 영향 받지 않음

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

#리스트의 연산자 + *

In [117]:
lunch_1 = ['해물라면', '샌드위치', '떡볶이']
lunch_2 = ['짜장면', '짬뽕']
lunch_1 + lunch_2

['해물라면', '샌드위치', '떡볶이', '짜장면', '짬뽕']

In [119]:
lunch_1 *2

['해물라면', '샌드위치', '떡볶이', '해물라면', '샌드위치', '떡볶이']

In [120]:
del lunch_1[0]
lunch_1

['샌드위치', '떡볶이']

In [121]:
'떡볶이' in lunch_1

True

In [123]:
'a' in 'abcd'  #문자열도 리스트니까 가능

True

In [ ]:
#연습문제
snack_box = []
#먹고싶은 간식 입력받아서 추가하세요

In [154]:
snack_box = ['찰떡파이']
new_snack = input('먹고 싶은 간식을 알려주세요').split(',')   #split이 잘라서 list로 만들어줌
snack_box += new_snack   #여기서 대괄호를 넣어도 되지만
snack_box

먹고 싶은 간식을 알려주세요 두쫀쿠, 포카칩, 젤리

['찰떡파이', '두쫀쿠', ' 포카칩', ' 젤리']

In [164]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

[' 젤리', ' 포카칩', '두쫀쿠', '찰떡파이', ' 젤리', ' 포카칩', '두쫀쿠', '찰떡파이']

In [165]:
#빼고 싶은 간식이 있으면 번호를 입력하세요

del_n = int(input('빼고 싶은 간식이 있으면 번호를 입력하세요'))
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요 4

[' 젤리', ' 포카칩', '두쫀쿠', '찰떡파이', ' 포카칩', '두쫀쿠', '찰떡파이']

In [166]:
f_name = input('찾고 있는 간식이름을 입력하세요')
if f_name in snack_box:
    print('있어요!!')
else : 
    print('없네요...')

찾고 있는 간식이름을 입력하세요 빼빼로

없네요...

In [167]:
#전체 간식목록을 거꾸로 뒤에서부터 출력해주세요   실패!!!!!
print(snack_box [-1:])

['찰떡파이']

In [168]:
print('스낵 박스 목록을 확인하세요')   #####??????
print(snack_box[::-1])    #얘는 슬라이싱

스낵 박스 목록을 확인하세요
['찰떡파이', '두쫀쿠', ' 포카칩', '찰떡파이', '두쫀쿠', ' 포카칩', ' 젤리']

In [169]:
snack_box.reverse()
print(snack_box)   #메소드 사용하는게 젤 안전함

['찰떡파이', '두쫀쿠', ' 포카칩', '찰떡파이', '두쫀쿠', ' 포카칩', ' 젤리']

In [170]:
text = "Python"
print(text[::2])
print(text[::-1])

Pto
nohtyP

In [ ]:
#생성자 creator, 메소드는 앞에 자기의 객체가 있어야 함 -> 밑에애들은 function 함수임
int(1)
float(1)     #리터럴이라고 부름
str()          #"", '', """ """ , ''' '''
list()   #[] 대괄호로 표시함
tuple()  #() 소괄호로 표시함
dict()  #{}
set()   #{}    dict이랑 set이 비슷하겠구나 유추 가

In [ ]:
#사칙연산자, 비교 연산자, 대입연산자, 논리 연산자, 기타...
+, -, *, /, %, //
#  +,*는 리스트에도 사용 가능
>, <, ==, !=
=, +=, -=, *=, /=

and, or, not, &, |, !
in # 멤버십

In [1]:
#타입별 메소드 제공
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [2]:
dir('a')  #문자열에 나오는 메소드 알 수 있음
#__ 언더바가 두개로 앞뒤로 붙어있는애들.....

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
dir([1,2])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list_obj.append()
list_obj.insert()   #리스트의 메소드

## ==, is

In [4]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2

True

In [ ]:
id(lunch_1) == id(lunch_2)

#id가 다르다는 건 “다른 객체”라는 뜻이고,
#==가 True라는 건 “내용(값)이 같다”는 뜻이야.

In [6]:
lunch_1 is lunch_2
#is는 id를 비교하는 것과 같은 효과

False

In [21]:
students = [{'num': '1', 'name' : 'kim', 'kor' :80, 'math' : 90, 'eng' : 100,},
            {'num' : '2', 'name' : 'park', 'kor' :100, 'math' : 70, 'eng' : 80},
            {'num' : '3', 'name' : 'yun', 'kor': 90, 'math' : 100, 'eng' : 60},
            {'num' : '4', 'name' : 'Lee', 'kor': 75, 'math' : 100, 'eng' : 60},
             {'num' : '5', 'name' : 'Ju', 'kor': 95, 'math' : 100, 'eng' : 60} ]

In [23]:
print(students,['total'])

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}, {'num': '2', 'name': 'park', 'kor': 100, 'math': 70, 'eng': 80, 'total': 250}, {'num': '3', 'name': 'yun', 'kor': 90, 'math': 100, 'eng': 60, 'total': 250}, {'num': '4', 'name': 'Lee', 'kor': 75, 'math': 100, 'eng': 60, 'total': 235}, {'num': '5', 'name': 'Ju', 'kor': 95, 'math': 100, 'eng': 60, 'total': 255}] ['total']

In [ ]:
print(students[0]) students[0]    #for문으로 간단히!! 축약하기
print(students[1])
print(students[2])
print(students[3])
print(students[4])

In [20]:
#인덱싱하기
students[2]['name']
students[2]['kor']

90

In [24]:
for stu in students:  #콜론으로 영역 표시
    stu['total'] = stu['kor'] +stu['math'] +stu['eng']
    print(stu['total'])
    print('\n')       #5줄, 아니면 그 이상의 데이터를 코드 두줄로 표현할 수 잇음

#간소화해서 빠르게 처리하기 위해서 시퀀스 사용함

#0,1,2,3,4로 하면 헷갈리니까 이름을 준 것, {}는 일단 리스트다~ 하면서 생각해보기

students

270


250


250


235


255

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270},
 {'num': '2', 'name': 'park', 'kor': 100, 'math': 70, 'eng': 80, 'total': 250},
 {'num': '3', 'name': 'yun', 'kor': 90, 'math': 100, 'eng': 60, 'total': 250},
 {'num': '4', 'name': 'Lee', 'kor': 75, 'math': 100, 'eng': 60, 'total': 235},
 {'num': '5', 'name': 'Ju', 'kor': 95, 'math': 100, 'eng': 60, 'total': 255}]

In [35]:
for stu in students:
    stu['average'] = (stu['kor'] + stu['math'] + stu['eng'])/3
    print(stu['average'])

    # 소수점 자리... 어떻게?

90.0
83.33333333333333
83.33333333333333
78.33333333333333
85.0

In [41]:
stu['total'] = stu['kor'] +stu['math'] +stu['eng']
stu['aver'] = stu['total']/3

print(stu['aver'])

85.0

In [53]:
#평균 구하기
for stu in students:
    stu['avg'] = round(stu['total']/3,2)
    print(stu['avg'])

90.0
83.33
83.33
78.33
85.0

In [74]:
for stu in students:
    stu['avg'] = round(stu['total']/3,2)
    sorted(stu['avg'])



#우리 데이터는 키를 가지고 있음... 순위 결정할 수 있는 게 쌓여있어서 현재로서는 처리가 안되는게 맞음...
#일단 sort와 sorted 의 구분만 하기...

TypeError: 'float' object is not iterable

In [58]:
for stu in students:
    print ( f'{stu['avg']:.2f}')

    #소수점 f스트링으로 표현하는법!!!!!! - 지피티한테 물어서 해결함 따흐흐흑

90.00
83.33
83.33
78.33
85.00

# 리스트의 정렬

In [59]:
num = [5, 2, 9, 3, 4]
num.sort()  #아예 객체로 붙잡고 num 자체가 바뀌었음

In [60]:
num

[2, 3, 4, 5, 9]

In [63]:
num = [5,2,9,3,4]
new_num = sorted(num) #원본은 바뀌지 않음 - 새로 저장하기

In [62]:
num

[5, 2, 9, 3, 4]

In [64]:
new_num

[2, 3, 4, 5, 9]

In [76]:
#순위는 다음에!

In [77]:
#리스트의 메소드

In [79]:
fruits = ['딸기', '수박', '키위', '복숭아']
fruits.append('멜론')
fruits

['딸기', '수박', '키위', '복숭아', '멜론']

In [86]:
fruits.insert(1, '샤인머스캣')
fruits

['딸기', '샤인머스캣', '샤인머스캣', '수박', '키위', '복숭아', '멜론']

In [84]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [87]:
fruits.remove('샤인머스캣')
fruits

['딸기', '샤인머스캣', '수박', '키위', '복숭아', '멜론']

In [94]:
fruits.reverse()
fruits

['멜론', '복숭아', '키위', '수박', '샤인머스캣', '딸기']

In [95]:
fruits.pop()
fruits

['멜론', '복숭아', '키위', '수박', '샤인머스캣']

In [96]:
fruits.insert('딸기')
fruits

TypeError: insert expected 2 arguments, got 1

In [97]:
fruits

['멜론', '복숭아', '키위', '수박', '샤인머스캣']

In [101]:
data = list(range(-100,100))
print(len(data))

200

In [103]:
data

[-99,
 -97,
 -95,
 -93,
 -91,
 -89,
 -87,
 -85,
 -83,
 -81,
 -79,
 -77,
 -75,
 -73,
 -71,
 -69,
 -67,
 -65,
 -63,
 -61,
 -59,
 -57,
 -55,
 -53,
 -51,
 -49,
 -47,
 -45,
 -43,
 -41,
 -39,
 -37,
 -35,
 -33,
 -31,
 -29,
 -27,
 -25,
 -23,
 -21,
 -19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [105]:
#리스트에 양수만 남긴다 : 목표
for x in data :
    if x < 0 :
        data.remove(x)  #원본데이터가 줄어들고 있는데... 원래 알던데로 가니까 지금 음수는 짝수만 빠짐

        #이런경우 오류가 남... 누적 후 한꺼번에 처리하는게 나음 새로운 리스트 만들어서 조건 반대로 쓰기
        #조건에 맞는 애들만 골라서 추가추가하기
        #원본에서 하되 내 조건에 맞는 애들을 고르는게 나음!!!

filtered = []
for x in data:
    if x >= 0 :
        filtered.append(x)

In [106]:
#data
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
#[1, 3, 5, 4, 2] -> [5, 4, 3, 2, 1]   정렬한다음에 거꾸로 뒤집기

In [116]:
list_1 = [1, 3, 5, 4, 2]
list_2 = sorted(list_1)   #1,2,3,4,5까진했는데   list는 reverse가 없대
list_2

[1, 2, 3, 4, 5]

In [122]:
#선생님버전    팝팝팝해서 꺼내줘도 됨
num = [1, 3, 5, 4, 2]
num.sort(reverse=True)   #와 이부분 정말 이해가 안간다
num

[5, 4, 3, 2, 1]

In [ ]:
#['Life', 'is', 'too', 'short'] -> "Life is too short"

In [121]:
list_4 = ['Life', 'is', 'too', 'short']
(r",", " ", list_4)

AttributeError: 'list' object has no attribute 'sub'

In [125]:
#선생님 버전
words =  ['Life', 'is', 'too', 'short']
' '.join(words)   #조인 까먹고있었음!!!!

'Life is too short'

In [ ]:
# [1, 3, 5, 7, 9] -> [3, 5, 7, 9, 1]   슬라이싱해서 1을 뒤로 보내기 / 팝해서 남는애들

In [127]:
num = [1, 3, 5, 7, 9]
first = num.pop(0)

In [130]:
num.append(first)    # num.pop(0)의 값이 1이니까 남은 num에다 1붙임  #메소드들이 가진 기능들.. 시그니처 살펴보자
num

[3, 5, 7, 9, 1, 1, 1]

# 튜플

In [135]:
tuple1 = 1,2,3   #괄호 생략가능
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [134]:
1,2,3   #=>이게 다 튜플이라는 뜻 => 수정불가능 / 요소는 콤마로 구분

(1, 2, 3)

In [136]:
tuple2 = tuple([1, 2, 3])  #리스트도 안에 들어갈 수 있음
tuple2

(1, 2, 3)

In [137]:
t3 = (2)  #정수형
t3, type(t3)

(2, int)

In [139]:
t4 = (2,)   #하나여도 튜플로 만들기 위해서 콤마사용
t4, type(t4)

((2,), tuple)

In [141]:
t = (10, 20, 30, 40, 50)
t[1], t[4]  #이 결과도 튜플임

(20, 50)

In [144]:
t[2:4]   #슬라이싱

(30, 40)

In [148]:
t[-3:-1]

(30, 40)

In [149]:
t[::1]

(10, 20, 30, 40, 50)

In [150]:
t[0]=20

TypeError: 'tuple' object does not support item assignment

In [151]:
t_list = list(t)
t_list

[10, 20, 30, 40, 50]

In [155]:
t_list[0] = 20
t_list
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)