# 튜플

In [135]:
tuple1 = 1,2,3   #괄호 생략가능
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [134]:
1,2,3   #=>이게 다 튜플이라는 뜻 => 수정불가능 / 요소는 콤마로 구분

(1, 2, 3)

In [136]:
tuple2 = tuple([1, 2, 3])  #리스트도 안에 들어갈 수 있음
tuple2

(1, 2, 3)

In [137]:
t3 = (2)  #정수형
t3, type(t3)

(2, int)

In [139]:
t4 = (2,)   #하나여도 튜플로 만들기 위해서 콤마사용
t4, type(t4)

((2,), tuple)

In [141]:
t = (10, 20, 30, 40, 50)
t[1], t[4]  #이 결과도 튜플임

(20, 50)

In [144]:
t[2:4]   #슬라이싱

(30, 40)

In [148]:
t[-3:-1]

(30, 40)

In [149]:
t[::1]

(10, 20, 30, 40, 50)

In [150]:
t[0]=20

TypeError: 'tuple' object does not support item assignment

In [151]:
t_list = list(t)
t_list

[10, 20, 30, 40, 50]

In [155]:
t_list[0] = 20
t_list
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

# 패킹, 언패킹

In [2]:
nums = [1, 2, 3]
nums

[1, 2, 3]

In [3]:
nums = (1,2,3) #패킹
x, y, z = nums
x, y, z, nums #언패킹

(1, 2, 3, (1, 2, 3))

In [5]:
student = ['hong', 20, '1학년']
student[0] + " " + str(student[1]) + " " + student[2]

'hong 20 1학년'

In [8]:
name, age, grade = ('hong', 20, '1학년')

In [11]:
name + str(age) + grade

'hong201학년'

In [12]:
x=1
y=2

#출력이 x=2, y=1

tmp =x
x=y
y =tmp   #임시저장소에 넣어두고... 냉장고에 코끼리 넣는 방법,,,,

In [16]:
x=1
y=2
x,y = y,x   #, 있으면 튜플로만들었다는게 되니까...

In [15]:
x,y

(2, 1)

# 딕셔너리

In [ ]:
#키는 유니크해야 함 - 겉으로 보기에 비슷해 보여도  --> mutable임 바뀔 수 있음

In [26]:
person = {"이름" : 'alice' , 'age' : 25 , 'city' :'서울' }
person_1 = {"이름" : 'bob' , 'age' : 30 , 'city' :'부산' }

In [20]:
person["이름"]  #인덱싱이나 슬라이싱은 다 대괄호로 한다고 통일

'alice'

In [21]:
person['age']

25

In [27]:
person['city'], person_1['city']

('서울', '부산')

In [31]:
for per in person.values():     #저 위에  콜론구조 안맞으면 어떡해?
    print(per) #key:value 1쌍

alice
25
서울

In [32]:
for per, val in person.items():  #items는 뭐야
    print(per, val)

# items()는 딕셔너리에서 키와 value(값)을 한쌍씩 꺼내주는 메서드임

이름 alice
age 25
city 서울

In [34]:
person.get('직업')   #get??

In [35]:
person.get('age')

25

In [39]:
print(person.keys())

dict_keys(['이름', 'age', 'city'])

In [40]:
print(person.values())

dict_values(['alice', 25, '서울'])

In [41]:
print(person.items())

dict_items([('이름', 'alice'), ('age', 25), ('city', '서울')])

In [43]:
print(person.pop('age'))

25

In [44]:
person    #value 값이 빠지면 key값도 사라지는구나!!  - list와의 차이점

{'이름': 'alice', 'city': '서울'}

In [47]:
person.update({'age' : 26, '직업' : '학생'})
print(person)

{'이름': 'alice', 'city': '서울', 'age': 26, '직업': '학생'}

In [48]:
job_cur_status = person.get('job', '정보없음') #기본값 설정하는 것
job_cur_status

'정보없음'

In [49]:
age_cur_status = person.get('age', '정보없음') #기본값 설정하는 것
age_cur_status

26

In [53]:
if job_cur_status == '정보없음' :
    new_job = input('직업을 입력해주세요')
    person.update({'job': new_job})
    print(person.get('job'))

직업을 입력해주세요 dev

dev

# 집합

In [54]:
집합1 = set([1,2,3,4])  #매개변수랑 같아지니까 자료 구조를 [] 로 해줘야 한다....?
집합1  #딕셔너리랑 유사하지만 key가 없음

{1, 2, 3, 4}

In [55]:
집합2 = set([1,2,3,4, 4,3])
집합2

{1, 2, 3, 4}

In [56]:
집합3 = set([1,2,3,4]*10)
집합3

{1, 2, 3, 4}

In [57]:
dir(집합3)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# 집합연산
union(), intersection()