In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

In [3]:
df= pd.read_csv('data\insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [47]:
df.info()  #이거 잊지말기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1338 non-null   int64
 1   sex         1338 non-null   object
 2   bmi         1338 non-null   float64
 3   children    1338 non-null   int64
 4   smoker      1338 non-null   object
 5   region      1338 non-null   object
 6   charges     1338 non-null   float64
 7   double bmi  1338 non-null   float64
 8   debt        1338 non-null   int64
 9   new_col     1338 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 104.7+ KB

In [ ]:
#Q1
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
#pd.read_csv()가 왜 힌트야??

In [ ]:
#Q2
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
#Q3
df['double bmi']= 2* df['bmi']  #vectorization

#리스트는 루프 돌면서 해줬어야 했다? 이게 뭔말이지?

#df['double bmi'] = df[2*'bmi']  얘는 왜 안됐을까?

In [48]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
       'double bmi', 'debt', 'new_col'],
      dtype='object')

In [49]:
df['bmi']  #이건 시리즈를 볼 수 있는것

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [12]:
df

      age     sex     bmi  children smoker     region      charges  double bmi
0      19  female  27.900         0    yes  southwest  16884.92400       55.80
1      18    male  33.770         1     no  southeast   1725.55230       67.54
2      28    male  33.000         3     no  southeast   4449.46200       66.00
3      33    male  22.705         0     no  northwest  21984.47061       45.41
4      32    male  28.880         0     no  northwest   3866.85520       57.76
...   ...     ...     ...       ...    ...        ...          ...         ...
1333   50    male  30.970         3     no  northwest  10600.54830       61.94
1334   18  female  31.920         0     no  northeast   2205.98080       63.84
1335   18  female  36.850         0     no  southeast   1629.83350       73.70
1336   21  female  25.800         0     no  southwest   2007.94500       51.60
1337   61  female  29.070         0    yes  northwest  29141.36030       58.14

[1338 rows x 8 columns]

In [13]:
#Q4
df['debt'] = 0

In [14]:
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,0
2,28,male,33.000,3,no,southeast,4449.46200,66.00,0
3,33,male,22.705,0,no,northwest,21984.47061,45.41,0
4,32,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [ ]:
#Q5 어렵다!!!!!

# 기존 0컬럼을 그자리에 덮어쓰기
df['debt'] = range(len(df))



#shape도 쓸 수 있음

시리즈 아래로 내려감 - 인덱스 가짐 - 얘도 아래로 들어감

In [ ]:
# new_col 잘못 만들어서 삭제할 것임
df.drop('new_col', axis=1)

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,1
2,28,male,33.000,3,no,southeast,4449.46200,66.00,2
3,33,male,22.705,0,no,northwest,21984.47061,45.41,3
4,32,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,1337

In [52]:

#Q6 인덱스... 뽑기임...
df.index, df.columns

#df.iloc[1]  #인덱싱 이런거 할 때 다 대괄호 쓰는 거 잊지말기!!

df.loc[:, 'age']
df.iloc[1]

age                  19
sex                male
bmi               33.77
children              1
smoker               no
region        southeast
charges         1725.55
double bmi        67.54
debt                  1
new_col               2
Name: 1, dtype: object

In [ ]:
#Q7
df_1 = df.drop('double bmi', axis=1)  #df는 그대로 / 변수로 설정해주는게 좀더 일반적
df_1

#df에 반영하고 싶으면 inplace!!

      age     sex     bmi  children smoker     region   charges  debt  new_col
0      20  female  27.900         0    yes  southwest  16884.92     0        1
1      19    male  33.770         1     no  southeast   1725.55     1        2
2      29    male  33.000         3     no  southeast   4449.46     2        3
3      34    male  22.705         0     no  northwest  21984.47     3        4
4      33    male  28.880         0     no  northwest   3866.86     4        5
...   ...     ...     ...       ...    ...        ...       ...   ...      ...
1333   51    male  30.970         3     no  northwest  10600.55  1333     1334
1334   19  female  31.920         0     no  northeast   2205.98  1334     1335
1335   19  female  36.850         0     no  southeast   1629.83  1335     1336
1336   22  female  25.800         0     no  southwest   2007.94  1336     1337
1337   62  female  29.070         0    yes  northwest  29141.36  1337     1338

[1338 rows x 9 columns]

In [39]:
#Q8
df[['age', 'sex']]

      age     sex
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
...   ...     ...
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

# 슬라이싱 [시작인덱스:종료인덱스, 시작컬럼명:종료컬럼명 ] 행정보, 열정보 나눠서 표현해야함

In [54]:
df.loc[:, 'age':'bmi']

      age     sex     bmi
0      20  female  27.900
1      19    male  33.770
2      29    male  33.000
3      34    male  22.705
4      33    male  28.880
...   ...     ...     ...
1333   51    male  30.970
1334   19  female  31.920
1335   19  female  36.850
1336   22  female  25.800
1337   62  female  29.070

[1338 rows x 3 columns]

In [ ]:
#Q9
#df['age'] = df['age']+ 1

df['age'] +=1

In [63]:
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5
...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338

In [ ]:
#10
#df['charges']:.2f  -> 문자열에서만 사용

#지피티 버전 - 데이터를 소수점 2자리로 만들고 싶을 때
df['charges'] = df['charges'].round(2)

#round(df['charges'],2) 이렇게 해도 됨

In [64]:
def round_2(data):
    return round(data, 2)

In [ ]:
#10 - [힌트] 함수생성해서 적용(apply, map) 하라고 했었네
#df['col'].apply(func_name)

#함수 정의 : input, return 정의
df['charges'].apply(round_2)
바로 바뀌는 게 싫으면 시리즈 꺼내서 그걸 임시 변수로 해가지고 처리하는것
#apply는 커스텀 함수를 df에 적용하는 범용함수

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.94
1337    29141.36
Name: charges, Length: 1338, dtype: float64

In [ ]:
map으로는 어떻게 처리해? - 람다 형식 처리... map을 쓸 수 있다

In [44]:
type(df['charges'])

pandas.core.series.Series

In [ ]:
#11  #이제부터는 선생님이랑 같이..

# Hint  sort_index()

In [66]:
df.sort_index()

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5
...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338

In [67]:
df.sort_index(axis=1, ascending=False)

,smoker,sex,region,new_col,double bmi,debt,children,charges,bmi,age
0,yes,female,southwest,1,55.80,0,0,16884.92,27.900,20
1,no,male,southeast,2,67.54,1,1,1725.55,33.770,19
2,no,male,southeast,3,66.00,2,3,4449.46,33.000,29
3,no,male,northwest,4,45.41,3,0,21984.47,22.705,34
4,no,male,northwest,5,57.76,4,0,3866.86,28.880,33
...,...,...,...,...,...,...,...,...,...,...
1333,no,male,northwest,1334,61.94,1333,3,10600.55,30.970,51
1334,no,female,northeast,1335,63.84,1334,0,2205.98,31.920,19
1335,no,female,southeast,1336,73.70,1335,0,1629.83,36.850,19
1336,no,female,southwest,1337,51.60,1336,0,2007.94,25.800,22
1337,yes,female,northwest,1338,58.14,1337,0,29141.36,29.070,62

In [68]:
df.sort_index(axis=1, ascending=True)

,age,bmi,charges,children,debt,double bmi,new_col,region,sex,smoker
0,20,27.900,16884.92,0,0,55.80,1,southwest,female,yes
1,19,33.770,1725.55,1,1,67.54,2,southeast,male,no
2,29,33.000,4449.46,3,2,66.00,3,southeast,male,no
3,34,22.705,21984.47,0,3,45.41,4,northwest,male,no
4,33,28.880,3866.86,0,4,57.76,5,northwest,male,no
...,...,...,...,...,...,...,...,...,...,...
1333,51,30.970,10600.55,3,1333,61.94,1334,northwest,male,no
1334,19,31.920,2205.98,0,1334,63.84,1335,northeast,female,no
1335,19,36.850,1629.83,0,1335,73.70,1336,southeast,female,no
1336,22,25.800,2007.94,0,1336,51.60,1337,southwest,female,no
1337,62,29.070,29141.36,0,1337,58.14,1338,northwest,female,yes

In [69]:
df.sort_index(axis=0, ascending=False)

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334
...,...,...,...,...,...,...,...,...,...,...
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1

In [71]:
#12
df.sort_values(by='age')

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
57,19,male,31.680,2,yes,southeast,34303.17,63.36,57,58
31,19,female,26.315,0,no,northeast,2198.19,52.63,31,32
1023,19,male,23.320,1,no,southeast,1711.03,46.64,1023,1024
427,19,female,29.165,0,no,northeast,7323.73,58.33,427,428
1317,19,male,53.130,0,no,southeast,1163.46,106.26,1317,1318
...,...,...,...,...,...,...,...,...,...,...
603,65,female,39.050,3,no,southeast,16085.13,78.10,603,604
534,65,male,40.480,0,no,southeast,13831.12,80.96,534,535
1241,65,male,36.960,2,yes,southeast,49577.66,73.92,1241,1242
801,65,female,35.970,0,no,southeast,14313.85,71.94,801,802
768,65,female,39.700,0,no,southwest,14319.03,79.40,768,769

In [73]:
df.sort_values(by='age', ascending=False)

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
1265,65,male,23.760,0,yes,southeast,26926.51,47.52,1265,1266
1241,65,male,36.960,2,yes,southeast,49577.66,73.92,1241,1242
752,65,male,37.905,0,no,northwest,14210.54,75.81,752,753
768,65,female,39.700,0,no,southwest,14319.03,79.40,768,769
825,65,female,31.825,2,no,northeast,16069.08,63.65,825,826
...,...,...,...,...,...,...,...,...,...,...
157,19,male,25.175,0,yes,northeast,15518.18,50.35,157,158
161,19,female,36.850,0,yes,southeast,36149.48,73.70,161,162
46,19,female,38.665,2,no,northeast,3393.36,77.33,46,47
50,19,female,35.625,0,no,northeast,2211.13,71.25,50,51
866,19,male,37.290,0,no,southeast,1141.45,74.58,866,867

In [ ]:
#13 나이 평균구하기
df['age'].mean()
df['age'].sum()/len(df)

np.float64(40.20702541106129)

In [78]:
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5
...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338

In [ ]:
#성별 인코딩 해보기 - female 0, male 1로 바꾸기
df['sex']= df['sex'].map({'female' :0, 'male': 1})

#df['sex'].map({'female' :0, 'male': 1}) 위에랑 얘랑 뭔차이야?

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int64

In [83]:
#지역 region 원핫인코딩 해보기
pd.get_dummies(df, columns=['region'])

,age,sex,bmi,children,smoker,charges,double bmi,debt,new_col,region_northeast,region_northwest,region_southeast,region_southwest
0,20,female,27.900,0,yes,16884.92,55.80,0,1,False,False,False,True
1,19,male,33.770,1,no,1725.55,67.54,1,2,False,False,True,False
2,29,male,33.000,3,no,4449.46,66.00,2,3,False,False,True,False
3,34,male,22.705,0,no,21984.47,45.41,3,4,False,True,False,False
4,33,male,28.880,0,no,3866.86,57.76,4,5,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,10600.55,61.94,1333,1334,False,True,False,False
1334,19,female,31.920,0,no,2205.98,63.84,1334,1335,True,False,False,False
1335,19,female,36.850,0,no,1629.83,73.70,1335,1336,False,False,True,False
1336,22,female,25.800,0,no,2007.94,51.60,1336,1337,False,False,False,True
1337,62,female,29.070,0,yes,29141.36,58.14,1337,1338,False,True,False,False

In [77]:
#14 보험료('charges')와 가장 상관관계가 높은 변수는?
#힌트
#공분산:df.cov()
#상관계수:df.corr()

df.corr(numeric_only=True)

,age,bmi,children,charges,double bmi,debt,new_col
age,1.000000,0.109272,0.042469,0.299008,0.109272,-0.031467,-0.031467
bmi,0.109272,1.000000,0.012759,0.198341,1.000000,-0.036169,-0.036169
children,0.042469,0.012759,1.000000,0.067998,0.012759,0.025221,0.025221
charges,0.299008,0.198341,0.067998,1.000000,0.198341,-0.003373,-0.003373
double bmi,0.109272,1.000000,0.012759,0.198341,1.000000,-0.036169,-0.036169
debt,-0.031467,-0.036169,0.025221,-0.003373,-0.036169,1.000000,1.000000
new_col,-0.031467,-0.036169,0.025221,-0.003373,-0.036169,1.000000,1.000000

In [ ]:
#15 남자, 여자가 각각 몇명있는지 구하기

In [ ]:
import pandas as pd

In [85]:
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5
...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338

In [ ]:
pd.value_counts(df['sex'])   #pd는 라이브러리

C:\Users\Admin\AppData\Local\Temp\ipykernel_7968\845819015.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['sex'])

sex
male      676
female    662
Name: count, dtype: int64

In [87]:
df['sex'].value_counts()   #dataframe의 메소드

sex
male      676
female    662
Name: count, dtype: int64

In [ ]:
#선생님은 객체로 먼저 해보고 안되면 판다스로 간다고 하셨음

In [ ]:
#16 자녀(children)가 3명인 데이터 출력하기

# 불리언 인덱싱 : 조건식 > true/false 값을 만들고 > 인덱싱

In [90]:
df['children']

0       0
1       1
2       3
3       0
4       0
       ..
1333    3
1334    0
1335    0
1336    0
1337    0
Name: children, Length: 1338, dtype: int64

In [92]:
df['children']==3  #boolean 값을 갖는 시리즈

0       False
1       False
2        True
3       False
4       False
        ...
1333     True
1334    False
1335    False
1336    False
1337    False
Name: children, Length: 1338, dtype: bool

In [94]:
df[df['children']==3]

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3
7,38,female,27.740,3,no,northwest,7281.51,55.48,7,8
25,60,female,27.720,3,no,southeast,14001.13,55.44,25,26
36,63,female,32.965,3,no,northwest,15612.19,65.93,36,37
54,41,female,28.690,3,no,northwest,8059.68,57.38,54,55
...,...,...,...,...,...,...,...,...,...,...
1301,63,male,30.875,3,yes,northwest,46718.16,61.75,1301,1302
1314,31,female,23.655,3,yes,northwest,18765.88,47.31,1314,1315
1320,32,male,31.065,3,no,northwest,5425.02,62.13,1320,1321
1332,53,female,44.700,3,no,southwest,11411.68,89.40,1332,1333
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334

In [96]:
#자녀가 5명 이상인 데이터 출력하기
df[df['children']>=5]

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
32,20,female,28.600,5,no,southwest,4687.80,57.20,32,33
71,32,male,28.500,5,no,northeast,6799.46,57.00,71,72
166,21,female,37.000,5,no,southwest,4830.63,74.00,166,167
413,26,male,23.900,5,no,southwest,5080.10,47.80,413,414
425,46,male,24.310,5,no,southeast,9788.87,48.62,425,426
438,53,female,46.750,5,no,southeast,12592.53,93.50,438,439
568,50,female,31.900,5,no,southwest,11552.90,63.80,568,569
640,34,male,42.400,5,no,southwest,6666.24,84.80,640,641
877,34,male,33.440,5,no,southeast,6653.79,66.88,877,878
932,47,male,25.800,5,no,southwest,10096.97,51.60,932,933
937,40,female,24.225,5,no,northwest,8965.80,48.45,937,938
969,40,female,34.320,5,no,southeast,8596.83,68.64,969,970
984,21,male,30.115,5,no,northeast,4915.06,60.23,984,985
1085,40,female,18.300,5,yes,southwest,19023.26,36.60,1085,1086
1116,42,male,29.640,5,no,northeast,9222.40,59.28,1116,1117
1130,40,female,23.870,5,no,southeast,8582.30,47.74,1130,1131
1245,29,male,24.300,5,no,southwest,5615.37,48.60,1245,1246
1272,44,male,25.520,5,no,southeast,14478.33,51.04,1272,1273

In [ ]:
#17 bmi가 17미만인 데이터 출력하기

In [97]:
df['bmi']

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [ ]:
df[df['bmi']<17] 불리언 식에 넣는다?

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col
172,19,male,15.960,0,no,northeast,1694.80,31.92,172,173
428,22,female,16.815,1,no,northeast,3167.46,33.63,428,429
1226,39,male,16.815,2,no,northeast,6640.54,33.63,1226,1227

In [ ]:
#18 성별에 따른 보험료 평균
df.groupby('sex').size()   #카운트만 해준거고 진짜 값을 보고 싶다면 밑밑에 처럼

sex
female    662
male      676
dtype: int64

In [101]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
#df.groupby('sex').get_group('female').mean()  #이렇게 하면 숫자가 아닌 데이터도 있으니까.. 특정 컬럼을 지정해준 게 아니니까!! 오류가 남

df.groupby('sex').get_group('female')['charges'].mean()
df.groupby('sex')['charges'].mean()

#여기서 또 소수점 2자리까지 하려면?

np.float64(12569.578716012084)

In [108]:
#charges 컬럼만 꺼내서 > 그룹 으로 묶어서 > 평균 내보기

#df[['sex'=='female', 'charges']]

df['charges'].groupby(df['sex'])

                        #얜 시리즈

In [ ]:
df['charges'].groupby(df['sex']).mean()

In [ ]:
#19 흡연여부에 따른 보험료 평균

In [110]:
df.groupby(['smoker'])['charges'].mean()

smoker
no      8434.268299
yes    32050.231898
Name: charges, dtype: float64

In [ ]:
#20 지역별

In [112]:
df.groupby(['region'])['charges'].mean()

region
northeast    13406.384599
northwest    12417.575169
southeast    14735.411484
southwest    12346.937508
Name: charges, dtype: float64

In [118]:
#21 흡연여부와 지역별 데이터 평균
#groupby에서는 &말고 , 사용
df.groupby(['region', 'smoker'])['charges'].mean()

region     smoker
northeast  no         9165.531829
           yes       29673.536269
northwest  no         8556.463558
           yes       30192.002759
southeast  no         8032.216264
           yes       34844.997143
southwest  no         8019.284569
           yes       32269.063966
Name: charges, dtype: float64

In [114]:
df.groupby(['smoker','region'])['charges'].mean()

smoker  region
no      northeast     9165.531829
        northwest     8556.463558
        southeast     8032.216264
        southwest     8019.284569
yes     northeast    29673.536269
        northwest    30192.002759
        southeast    34844.997143
        southwest    32269.063966
Name: charges, dtype: float64

In [115]:
df.groupby(['smoker', 'region']).mean(numeric_only=True)

                        age        bmi  children       charges  double bmi  \
smoker region
no     northeast  40.536965  29.332082  1.046693   9165.531829   58.664163
       northwest  40.168539  29.212678  1.119850   8556.463558   58.425356
       southeast  39.673993  33.442418  1.065934   8032.216264   66.884835
       southwest  41.183521  30.507865  1.127341   8019.284569   61.015730
yes    northeast  39.238806  28.565224  1.044776  29673.536269   57.130448
       northwest  40.327586  29.140431  1.275862  30192.002759   58.280862
       southeast  40.736264  33.096703  1.000000  34844.997143   66.193407
       southwest  37.103448  31.005172  1.206897  32269.063966   62.010345

                        debt     new_col
smoker region
no     northeast  660.669261  661.669261
       northwest  679.161049  680.161049
       southeast  650.109890  651.109890
       southwest  680.104869  681.104869
yes    northeast  682.328358  683.328358
       northwest  699.534483  700.534483
       southeast  665.714286  666.714286
       southwest  644.620690  645.620690

In [117]:
#여러 집계함수를 한번에 적용할 때 agg()를 사용
df.groupby(['smoker', 'region']).agg(
    mean_charges=('charges', 'mean'),
    median_charges=('charges', 'median'),
    count_charges=('charges', 'count')

)

                  mean_charges  median_charges  count_charges
smoker region
no     northeast   9165.531829        8342.910            257
       northwest   8556.463558        7256.720            267
       southeast   8032.216264        6652.530            273
       southwest   8019.284569        7348.140            267
yes    northeast  29673.536269       28101.330             67
       northwest  30192.002759       27488.995             58
       southeast  34844.997143       37484.450             91
       southwest  32269.063966       35165.255             58

In [119]:
df.groupby(['region', 'smoker']).size()

region     smoker
northeast  no        257
           yes        67
northwest  no        267
           yes        58
southeast  no        273
           yes        91
southwest  no        267
           yes        58
dtype: int64

In [124]:
#smoker 여부에 따라 group_val 컬럼에 '흡연자', '비흡연자' 표시하기
#df['group_val'] = if df['smoker'] == 'yes':
#'흡연자'
# else:
# '비흡연자'
# 다른 방법도 많지만 np.where가 제일 간단해 보임

df['group_val'] = np.where(df['smoker'] == 'yes', '흡연자', '비흡연자')
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col,group_val
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1,흡연자
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2,비흡연자
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3,비흡연자
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4,비흡연자
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338,흡연자

In [121]:
# 23 흡연여부 + 지역별 데이터 크기(size)
df.groupby(['smoker','region']).size()

smoker  region
no      northeast    257
        northwest    267
        southeast    273
        southwest    267
yes     northeast     67
        northwest     58
        southeast     91
        southwest     58
dtype: int64

In [ ]:
df.groupby(['smoker', 'region']).count()

In [ ]:
# 24  파생변수 만드는 연습

In [125]:
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col,group_val
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1,흡연자
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2,비흡연자
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3,비흡연자
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4,비흡연자
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338,흡연자

In [ ]:
# 아까 map 이랑 비슷하다고 하셨음

df['group_val'] = df['smoker'].map({'yes': '흡연자', 'no': '비흡연자'})

#이렇게 원본에 하지말고 따로 하기...

In [ ]:
#merge 활용한다고 하셨음
#merge 하려면 기준이 되는 키가 필요

In [ ]:
merge()
df['smoker'] 기준
'yes' > '흡연자'
'no' > '비흡연자'

In [130]:
# 합치기 위한 테이블 정의
df_smoke = pd.DataFrame({'group_val': ['흡연자', '비흡연자']}, index=['yes', 'no'])

df_smoke

    group_val
yes       흡연자
no       비흡연자

In [ ]:
키가 yes, no로 들어감

In [ ]:
#pd.merge(기준df, 붙이는df, on=키, how= 'inner or outer')

df_merge = pd.merge(df, df_smoke, left_on='smoker',right_index=True, how= 'outer')

df
#기준에 있는 거 다 꺼내야 하니까 outer로

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col,group_val
0,20,female,27.900,0,yes,southwest,16884.92,55.80,0,1,흡연자
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2,비흡연자
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3,비흡연자
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4,비흡연자
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.55,61.94,1333,1334,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98,63.84,1334,1335,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83,73.70,1335,1336,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94,51.60,1336,1337,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338,흡연자

In [ ]:

#같은 이름의 컬럼이 있으면 _x, _y로 자동으로 컬럼이름을 바꾼다.
df_merge = pd.merge(df, df_smoke, left_on='smoker',right_index=True, how= 'outer')
df_merge

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,new_col,group_val_x,group_val_y
1,19,male,33.770,1,no,southeast,1725.55,67.54,1,2,비흡연자,비흡연자
2,29,male,33.000,3,no,southeast,4449.46,66.00,2,3,비흡연자,비흡연자
3,34,male,22.705,0,no,northwest,21984.47,45.41,3,4,비흡연자,비흡연자
4,33,male,28.880,0,no,northwest,3866.86,57.76,4,5,비흡연자,비흡연자
5,32,female,25.740,0,no,southeast,3756.62,51.48,5,6,비흡연자,비흡연자
...,...,...,...,...,...,...,...,...,...,...,...,...
1313,20,female,34.700,2,yes,southwest,36397.58,69.40,1313,1314,흡연자,흡연자
1314,31,female,23.655,3,yes,northwest,18765.88,47.31,1314,1315,흡연자,흡연자
1321,63,male,26.695,0,yes,northeast,28101.33,53.39,1321,1322,흡연자,흡연자
1323,43,female,40.370,2,yes,southeast,43896.38,80.74,1323,1324,흡연자,흡연자
1337,62,female,29.070,0,yes,northwest,29141.36,58.14,1337,1338,흡연자,흡연자