Series

In [1]:
import pandas as pd

In [ ]:
pd.Series([10,20,30])   #(,,)이거는 생성자 부르는 애자나 - 세개를 받는줄 알고 해석하러 간 것임..
#해석해봤더니 이렇게 볼 수가 없어...  #탭이랑 쉬프트탭했는데 .뒤에 뭐나왔는지 안나왔어
#이렇게 하는 순간 하나만 입력한 것이 됨.

0    10
1    20
2    30
dtype: int64

In [ ]:
s1 = pd.Series([10,20,30])   #tab키 눌러도 안보여!! 쉬프트탭도 안보여
s1[0:2]  #인덱싱, 슬라이싱도 됨...

0    10
1    20
dtype: int64

In [8]:
col_idx = ['A','B','C']
data = [10, 20, 30]
s2 = pd.Series(data, index=col_idx)

In [ ]:
s2['A': 'C']  #이게 되면 딕셔너리도 되겠지

A    10
B    20
C    30
dtype: int64

In [ ]:
dict_data = {'A': 10, 'B':20, 'C':30}   #json같은애들이 이렇게 생겨서 이걸 받아서 바꿀 때 쓰는 것 - 이름 지어주면 슬라이싱이나 인덱싱할 때도 직관적이라서 편함
type(dict_data)
s3 = pd.Series(dict_data)

In [12]:
s3

A    10
B    20
C    30
dtype: int64

In [13]:
#판다스에서 인덱싱 쉽게 정의하는 법

In [ ]:
#노션에 시리즈 파퓰레이션.. 실제로 꺼내보기

In [14]:
#시리즈의 속성
    #리스트로 시리즈 생성
data = [1,2,3,4,5]
s1 = pd.Series(data)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#인덱스 지정하여 시리즈 생성
data = [1,2,3,4,5]
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(data, index=index)  #인덱스는 선택사항!!
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
#딕셔너리로 시리즈 생성 - 키가 인덱스가 됨
dict_data = {'a':1, 'b':2, 'c':3, 'd':4}
s3 = pd.Series(dict_data)
print(s3)

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
#시리즈의 인덱스
population = pd.Series([9776, 2729, 1566, 3158], index=['서울', '부산', '인천', '대구'])
print(population['서울']) #9776 출력
print(population[['서울', '부산']]) #여기서 왜 [[]]이렇게 두 번 들어가는지? #서울과 부산의 데이터만 선택
#asarray는 무엇인지

9776
서울    9776
부산    2729
dtype: int64